
 * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}


*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
}

.container {
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container:after {
	clear: both;
}

/*inicio nav*/
.background1{
	height: 108px; 
	width: 100%;
	background-color: #2C3E50;
	position: fixed; 
	z-index: 100;

}
.background1 h1{
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	text-transform: uppercase;
	position: fixed;
	top: 10px;
	left: 92px;
	font-size: 31px;

}



ul li a {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	

}
ul li a:hover {
	color: #18BC9C;
}

ul{
	position: fixed;
	list-style: none;
	float: right;
	margin-top: 45px;
	margin-left: 628px;	
}

li{
	font-size: 16px;
	margin-left: 50px;
	display: inline-block;
	padding-left: 20px; 

}
/*fin del nav*/
/*inicio seccion 1*/

.background2{
	height: 1000px;
	width: 100%;
	background-color: #18BC9C;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.background2 .container div img {
	padding-top: 6em;
	margin-top: 66px;
}
.background2 .container h1 h3{
	color: #FFF;
	font-family: 'Montserrat', sans-serif;

}
.background2 h1{
	font-size: 76px;
}
.linea1{
	width: 100px;
	background-color: white;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}

.estrella1{
	width: 50px;
	font-size: 30px;
	color:white;
	display: inline-block;
	padding-top: 

}
.linea2{
	width: 100px;
	background-color: white;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}
/*fin seccion 1*/
/*inicio seccion 2*/

.linea3{
	width: 100px;
	background-color: black;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
	margin-bottom: 40px;
}

.estrella2{
	width: 50px;
	font-size: 30px;
	color:black;
	display: inline-block;
}

.linea4{
	width: 100px;
	background-color: black;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}
.imagenes .ilustraciones img{
	height:auto; 
	width:300px;
}

.ilustraciones h3{
	font-size: 48px; 
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;

}



 #uno{
	background-image: url(../assets/images/portfolio/cabin.png);
	background-size: cover;
}

 #dos{
	background-image: url(../assets/images/portfolio/cake.png);
	background-size: cover;
}

#tres{
	background-image: url(../assets/images/portfolio/circus.png);
	background-size: cover;
}

#cuatro{
	background-image: url(../assets/images/portfolio/game.png);
	background-size: cover;
}

#cinco{
	background-image: url(../assets/images/portfolio/safe.png);
	background-size: cover;
}

#seis{
	background-image: url(../assets/images/portfolio/submarine.png);
	background-size: cover;
}

.primeras-img{
	height: 249px;
	width: 344px;
	float: left;
	margin: 15px
	
		
}

.segundas-img{
	height: 249px;
	width: 344px;
	float: left;
	margin: 15px
	
}

.ilustraciones{
	text-align: center;
}
/*fin seccion 2*/
/*inicio seccion 3*/
.background3{
	height: 600px;
	width: 100%;
	background-color: #18BC9C;
	text-align: center;
	color: white;

}
.contenedor-star{
	margin-bottom: -80px;
}

.linea5{
	width: 100px;
	background-color: white;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}

.estrella3{
	width: 50px;
	font-size: 30px;
	color:white;
	display: inline-block;
}

.linea6{
	width: 100px;
	background-color: white;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}

table tr td{
	width:353px; 
	height:196px;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	text-align: left;
	vertical-align: top;
	position: relative;
    top: -62px;
}



.background3 .container #about{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
}


td p{
	margin: 30px;
	line-height: 30px;
	position: relative; 
	left: 230px;
	top: 121px;

}

.btn-about {
	background-color: #18BC9C;
	font-size: 20px;
	border: 2px solid #FFF;
	border-radius: 6px;
	padding: 10px 20px;
	text-align: center;
	margin: 0 40%;
	position: relative;
	top: 83px;

}

.btn-about:hover {
	background-color: #FFF;
	color: #18BC9C;
	cursor: pointer;
	transition: background-color 0.8s ease-out;
}
/*fin seccion 3*/
/*inicio seccion 4*/

.contact-me h1{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 48px;
   	font-weight: bold;

}
.contenedor-star4{
	position: relative;
	left: 430px; 
	top:10px;

}

.linea7{
	width: 100px;
	background-color: black;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}

.estrella4{
	width: 50px;
	font-size: 30px;
	color:black;
	display: inline-block;
	position: relative;
	left: 10px;

}

.linea8{
	width: 100px;
	background-color: black;
	height: 5px;
	display: inline-block;
	vertical-align: text-top;
}

form{
	font-size: 1.5em; 
	text-align: left;
	font-family: 'Lato', sans-serif;
	color: #898E99;
	

}

form input{
	border-bottom: 1px solid #eee;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
    width: 730px;
    margin-top: 10px;
    margin-bottom: 10px;
   	font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    outline: none;
    font-family: 'Lato', sans-serif;
 }   

.contact-me .container h1 form{
	position: relative;
    left:50px;
}

.send{
	width: 88px;
	background-color: #18BC9C;
	font-size: 20px;
	border: 2px solid #FFF;
	border-radius: 6px;
	padding: 10px 20px;
	text-align: center;
	margin: 0 40%;
	position: relative;
	top: -5px;
	margin-left: -3px;

}

.send:hover{
	background-color: #FFF;
	color: #18BC9C;
	cursor: pointer;
	transition: background-color 0.8s ease-out;
}
/*fin seccion 4*/
/*inicio footer*/

footer{
    width: 100%;
    height: 370px;
    background-color: #303E52 ;
    color: #FFF;
    padding-top: 25px;
    margin-bottom: 0;
}

/*h3 del footer */
footer h3{
    text-transform: uppercase;
    font-size: 1.95em;
}

/* <p> contenidos en el footer*/
footer p{
    padding-top: 30px;
    font-size: 1.3em;
    line-height: 32px;
}

/*direccion*/
.direccion, .redes-sociales, .by{
    float:left;
    width: 200px;
    text-align: center;
    margin-bottom: 75px;
    font-family: 'Montserrat', sans-serif;
}

.direccion{
    margin-left: 150px;
    margin-right: -10px;
}
.direccion p{
	font-family: 'Lato', sans-serif;
}

/*Redes Sociales*/

.redes-sociales{
    width: 500px;
    margin-right: -20px;
}

/*iconos*/
.redes-sociales a{
    float: left;
}

.redes-sociales a i{
    font-size: 20px;
    color: #FFF;
    padding-top: 15px;
}

.redes-sociales a:hover{
    background-color: #FFF;
}

.redes-sociales a i:hover{
    color: #12BD9C ;
}

/*Borde circular de los iconos*/
#border1, #border2, #border3, #border4, #border5{
    margin-top: 30px;
    margin-right: 9px;
    border: 2px solid #FFF;
    height: 50px;
    width: 50px;
    display: table-cell;
    text-align: center;
    font-size:12px;
    vertical-align: middle;
    border-radius: 50%;
}

/*margen primer icono (facebook)*/

#border1{
    margin-left: 98px;
}

/*by Start Bootstrap*/

.by{
    width: 400px;
}

.by a{
    text-decoration: none;
    color: #12BD9C ;
}
.by p{
	font-family: 'Lato', sans-serif;
}

.copyright{
    float: left;
    margin-left: 630px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    margin-left: 457px;
}